# Node modules
node_modules/

# Expo and build directories
.expo/
.expo-shared/
dist/
build/

# iOS and Android
ios/Pods/
android/.gradle/
android/app/build/

# Logs and temporary files
*.log
*.tmp

# Environment and sensitive files
.env
lib/tokens.js

# Mac system files
.DS_Store
